<template>
    <v-app>
        <v-container>
            <h1 align="center" class="mb-8">Frequently Asked Questions</h1>
            <v-row justify="center">
                <v-expansion-panels accordion>
                    <v-expansion-panel
                            v-for="(item,i) in 5"
                            :key="i"
                    >
                        <v-expansion-panel-header>Item
                            <v-spacer></v-spacer>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content class="py-3 pr-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-row>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: 'Help',
        // async mounted(){
        // // axios.defaults.baseURL = "https://develop.hokela.co.ke/api";
        //
        // // DO NOT DELETE. WILL BE USED FOR LATER
        // //axios.defaults.headers.common.Authorization = `Bearer ${this.$store.state.token}`;
        // axios
        // .get("/admin/careers/")
        //     .then(response => {
        //         this.jobLinks = response.data.data;
        //     })
        //     .catch(error => {
        //         console.log(error);
        //     })
        // },
        data() {
            return {}
        },
    }
</script>
