<template>
    <div id="app">
        <Help/>
    </div>
</template>

<script>
    import Help from "./components/Help";

    export default {
        components: {Help}
    }

</script>

<style>
</style>
